<div class="wrap-center container" #content>
  <div class="left-column">
    <div class="avatar">
      <div class="avatar__title">
        <div class="avatar__title__name">ALEKSEY YANIK</div>
        <div class="avatar__title__job">Angular .Net Developer</div>
      </div>
    </div>

    <div class="left-container">
      <div class="card">
        <div class="card__title"><mat-icon>person</mat-icon>ABOUT ME</div>
        <div class="card__content">
          My name is Aleksey and i am 26 years oldn Graphics designer. It is
          Orestrubt, for min il iurri Adisciunt any molo aute posam and i work
          for 4 y prae and we dsadasdsadsa
        </div>
      </div>
      <div class="card">
        <div class="card__title">
          <mat-icon>phone_in_talk</mat-icon>CONTACT ME
        </div>
        <div class="card__content">
          <div class="list"><mat-icon>phone</mat-icon> +38 063 260 6295</div>
          <div class="list">
            <mat-icon>location_on</mat-icon> Ukraine, Zhytomir
          </div>
          <div class="list">
            <mat-icon>email</mat-icon> leha.kardan2016@gmail.com
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__title">
          <mat-icon>travel_explore</mat-icon>Social Media
        </div>
        <div class="card__content">
          <div class="list">
            <mat-icon>facebook</mat-icon> facebook / ifoder
          </div>
          <div class="list"><mat-icon>memory</mat-icon> github / ifoder</div>
          <div class="list"><mat-icon>work</mat-icon> linkedin / ifoder</div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-column">
    <div class="right-container">
      <div class="card">
        <div class="card__title"><mat-icon>school</mat-icon>EDUCATION</div>
        <div class="card__content dflex">
          <div class="stepping">
            <div class="step1"></div>
            <div class="step2"></div>
            <div class="step3"></div>
          </div>
          <table class="table">
            <tr>
              <td class="col-left">
                2012 - 2015<br />
                <mat-icon>location_on</mat-icon>Vinnytsia
              </td>
              <td class="col-right">
                Vinnytsia National Technical University <br /><small
                  >Electrical engineering, electromechanics</small
                >
              </td>
            </tr>
            <tr>
              <td class="col-left">
                2015 - 2019<br /><mat-icon>location_on</mat-icon>Zhytomir
              </td>
              <td class="col-right">
                Zhytomyr National Agroecological University<br /><small
                  >Electroenergetics</small
                >
              </td>
            </tr>
            <tr>
              <td class="col-left">
                2019<br /><mat-icon>location_on</mat-icon>Zhytomir
              </td>
              <td class="col-right">
                Computer Academy STEP<br /><small
                  >Development and maintenance of websites from scratch</small
                >
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card">
        <div class="card__title"><mat-icon>next_week</mat-icon>EXPERIENCE</div>
        <div class="card__content dflex">
          <div class="col">
            <div class="title">
              <div class="step1"></div>
              Junior C# .Net
            </div>
            <div class="list"><mat-icon>work</mat-icon>FlexDev</div>
            <div class="list"><mat-icon>schedule</mat-icon>2020 - present</div>
          </div>
          <div class="col"><mat-icon>arrow_back</mat-icon></div>
          <div class="col">
            <div class="title">
              <div class="step1"></div>
              Junior Angular
            </div>
            <div class="list"><mat-icon>work</mat-icon>FlexDev</div>
            <div class="list"><mat-icon>schedule</mat-icon>2020</div>
          </div>
        </div>
      </div>
      <div class="multiple">
        <div class="card">
          <div class="card__title">
            <mat-icon>signal_cellular_alt</mat-icon>SKILLS
          </div>
          <div class="card__content">
            <div class="skill">
              <div class="title">Angular9+, TypeScript</div>
              <div class="bar" style="width: 80%"></div>
            </div>
            <div class="skill">
              <div class="title">C#</div>
              <div class="bar" style="width: 40%"></div>
            </div>
            <div class="skill">
              <div class="title">SQL, Entity Framework</div>
              <div class="bar" style="width: 60%"></div>
            </div>
            <div class="skill">
              <div class="title">HTML, SCSS, JS, TS</div>
              <div class="bar" style="width: 80%"></div>
            </div>

            <div class="skill">
              <div class="title">RxJs</div>
              <div class="bar" style="width: 50%"></div>
            </div>
            <div class="skill">
              <div class="title">Git, API integration, debugging</div>
              <div class="bar" style="width: 70%"></div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__title"><mat-icon>task</mat-icon>EXPERTISE</div>
          <div class="card__content">
            <div class="list">BEM methodology</div>
            <div class="list">Experience with version control</div>
            <div class="list">ability to work with API</div>
            <div class="list">
              Knowledge of client-side architecture best practices
            </div>
            <div class="list">
              Understanding of frontend architecture patterns
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
